.box{
	border: 1px dotted #000000;
	width: 10px;
	height: 10px;
	margin: 10px 0 0px 0;
	padding: 0;
	display: none;
	overflow: hidden;
}
.box form{
	width: 458px;
	height: 208px;
	margin: 0;
	padding: 10px 20px;
}
.h_panel{
	width:1380px;
	height: 172px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.h_panel .edit_freetext{
	width:460px;
	height: 172px;
	margin: 0;
	padding: 0;
	float: left;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;	
	transition: 0.4s ease;
}
.h_panel .edit_regularform{
	width:460px;
	height: 172px;
	margin: 0;
	padding: 0;
	float: left;
	-webkit-transition: 0.4s ease;
	-moz-transition: 0.4s ease;
	-ms-transition: 0.4s ease;
	-o-transition: 0.4s ease;
	transition: 0.4s ease;
}
.edit_regularform dt{
	font-size: 18px;
	margin: 5px 0 0 0;
	padding: 0 0 0 0;
}
.edit_regularform dd{
	font-size: 18px;
	margin: 0;
	padding: 0;
}
.edit_regularform dd input{
	width: 460px;
	height: 25px;
	margin: 0;
	padding: 0;
}
.h_panel h3{
	height: 23px;
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
	color: #97979;
	border-left: 5px solid #cccccc;
	margin: 0;
	padding: 3px 0 0 3px;
}
.h_panel textarea{
	width: 458px;
	height: 124px;
	margin: 10px 0;
	padding: 0;
}
.box form .button{
	color: #979797;
	width:35px;
	height:35px;
	background:#FFF;
	float: left;
	margin: 0 5px 0 0;
	border:1px solid #000;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
}
#add_element{
	width:600px;
	background:#0FF;
	margin:0px auto 0px 0;
	padding:0;
	overflow-y:scroll;
	overflow-x:hidden;
	position: relative;
	z-index: 1;
}
.scroll_panel{
	width: 500px;
	background: #0ff;
	margin: 0px auto;
	padding: 10px 50px 70px 50px;
}
#plus{
	width:27px;
	height:27px;
	border:1px solid #000;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	background:#FFF;
	padding:6px;
}
#plus:hover{
	background: #eee;
}
#edit{
	width: 600px;
	float: left;
	margin: 0 10px 0 10px;
}
#controle_element{
	width:580px;
	background:#CCCCCC;
	height:38px;
	margin:-60px auto 0 0;
	padding:5px 10px;
	position: relative;
	z-index: 2;
	border-top: 1px solid #e5e5e5;
	border-bottom:1px solid #b2b2b2;
}
.edit_button{
	opacity: 0.5;
}
.opacity_0{
	opacity:0;
}
#preview{
	width: 400px;
	height: 100px;
	float: left;
	margin: 10px 0 0 50px;
	padding: 0;
	background: #e67e22;
	border: 1px solid #ddd /*#fcce5f*/;
	background: #fafafa/*#ece3c0*/;
	position: relative;
	border-radius: 3px;
	-webkit-box-shadow: 2px 8px 6px -8px #888;
	-moz-box-shadow: 2px 8px 6px -8px #888;
	box-shadow: 2px 8px 6px -8px #888;
	min-height: 500px;
}
#preview p{
	margin: 10px 20px;
	font-size: 20px;
}
#preview h1{
	position: relative;
	background: url(../ribon.png);
	width: 342px;
	height: 24px;
	padding: 10px 0px 6px 0;
	margin: 10px 0px 10px -20px;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	color: #FFF;
	-webkit-text-shadow: 1px 1px 1px #333;
	-moz-text-shadow: 1px 1px 1px #333;
	text-shadow: 1px 1px 1px #333;
	-webkit-box-shadow: 1px 1px 2px #999;
	-moz-box-shadow: 1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
}
.textarea {
	padding: 20px;
	margin: 10px 20px 10px 20px;
	background: #e8e7e7;
	font-size: 18px;
	border-bottom: #DBDBDB 1px solid;
	border-top: #F2F1F1 1px solid;
}